[include]
    path = ~/.gitconfig.local

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[http]
    cookiefile = ~/.gitcookies

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictStyle = zdiff3

